.container {
  max-width: 1200px;
  margin: auto;
  font-family: monospace;
}

.header {
  padding: 32px;
  text-align: center;
  color: #00aaaa;
}

.image {
  width: 100px;
  height: auto;
}

.products {
  &.available {
    background-color: green;
  }
  &.not-available {
    background-color: red;
  }
}
