.container {
  max-width: 1200px;
  margin: auto;
  font-family: monospace;
}

.header {
  padding: 32px;
  text-align: center;
  color: #00aaaa;
}

.products {

}

.image {
  height: 50px;
  width: 50px;
}

.available {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
}

.notAvailable {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: green;
}
